.gap-one {
    background: url('../img/daniel3.png');
    background-size: cover;
    background-attachment: fixed;
    height: 40vh;
    width: 100vw;
}

.gap-two {
    background: url('../img/patryk.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 40vh;
    width: 100vw;
}